*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style:Roboto Mono;
}
body{
    background-color: black;
    margin: 0;
    /* background-image: url(./assets/f8095e6d55a76e6cff424c50ed846cf8bb2e8423.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
main, header, footer{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color:Dark/15;
    width: 100%;
    height: 123px;
    /* border-bottom: 2px dashed #ffffff33; */
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #ffffff33;
    width: 100%;
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}
.nav-bar ul  li {
    text-decoration: none;
    list-style: none;
}
.home-button{
    gap: 10px;
    border-radius: 12px;
    width: 104px;
    height: 63px;
    background-color: #1A1A1A;
    padding: 18px 30px;
    border: 2px black;
    a{
        color: #FFFFFF;
        text-decoration: none;
        font-style: Roboto Mono;
        font-weight: 400;
        font-size: 18px;
    }
}
.product-button{
    gap: 10px;
    border-radius: 12px;
    width: 104px;
    height: 63px;
    background-color: black;
    border: 2px dashed #ffffff33;
    /* padding: 18px 30px; */
    a{
        color: #B3B3B2;
        text-decoration: none;
        font-style: Roboto Mono;
        font-weight: 400;
        font-size: 18px;
    }
}
.nav-bar ul .heading{
    color: #FFFFFF;
    font-style: bold;
}
.icon-button{
    gap: 14px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 63px;
}
.buttons{
    gap: 14px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 63px;
}
.cart{
    border-radius: 12px;
    /* padding: 18px;
    gap: 10px; */
    width: 60px;
    height: 60px;
}
.contact-button{
    background-color: #AE9B84;
    padding: 18px 30px;
    border-radius: 12px;
    border: 2px solid;
    a{
        text-decoration:none ;
        color:#0F0F0F ;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
    }
}
main{
    width: 100%;
    height: auto;
}
main .section-1-article{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border-radius: 20px;
    border: 2px dashed #ffffff33;
}
.flex-box{
    width: 50%;
    background-color: black ;
    padding: 100px 40px 80px 35px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    /* border-right: 2px dashed #ffffff33 ; */
}
.flex-buttons{
    display: flex;
    gap: 14px;
    list-style: none;
    text-decoration:none;
}
.flex-buttons button{
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px dashed #ffffff33;
    width: auto;
    height: auto;
    background-color: black;
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        color: #B3B3B2;
    }
}
.flex-buttons button:hover{
    background-color: #262626;
    cursor: pointer;
}
.flex-box h2{
    color: #FFFFFF;
    font-size:48px ;
    font-weight: 500;
    line-height: 100%;
}
.flex-box  p{
    font-weight: 400;
    font-size: 18px;
    color: gray;
}
.grid-box  p{
    font-weight: 400;
    font-size: 18px;
    color: gray;
}
.grid-box div .number{
    font-weight:500 ;
    font-size: 50px ;
    line-height: 150%;
    color: #FFFFFF;
}
.grid-box .number{
    font-weight:400 ;
    font-size:18px ;
    line-height: 150%;
    color: #FFFFFF;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
}
.grid-box div{
    width: auto;
    height: auto;
    padding: 100px 30px 20px;
    border-left: 2px dashed #ffffff33;
}
.box-1{
    border-bottom: 2px dashed #ffffff33;
    /* border-right: 2px dashed #ffffff33; */
}
.box-2{
    border-bottom: 2px dashed #ffffff33;
    border-left: 2px dashed #ffffff33;
}
.section-1 .section-img{
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-image: url(./assets/f8095e6d55a76e6cff424c50ed846cf8bb2e8423.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* img{
        width: 100%;
        height: 524px;
        border-radius: 20px 20px 0 0;
    } */
}
.section-1{
    padding-top: 30px;
}
.section-button{
    padding: 18px 24px;
    top: 45px;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: black;
    border: 1px solid;
    border-bottom-left-radius: -12px ;
    a{
        padding: 10px 15px;
        color:#FFFFFF;
        text-decoration: none;
        font-weight: 400;
        line-height: 150%;
        font-size: 18px;
        display: flex;
        background-color: #1F1F1F;
        border: 2px dashed #ffffff33;
        border-radius: 12px;
    }
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 10px;
    position: absolute;
    z-index: 10;
    gap: 170px;
    padding-top: 15px;

}
.div-1, .div-2{
    background-color:transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 0px 8px black;
    /* align-self: center;
    direction: row ; */
}
.section-2{
    border-radius: 20px;
    /* border: 2px dashed #ffffff33; */
    margin-top: 10px;
}
.section-2 .section-text-container{
    padding: 80px 300px 80px 80px;
    border-top: 2px dashed #ffffff33;
    border-left: 2px dashed #ffffff33;
    border-right: 2px dashed #ffffff33;
    display: block;
    .crafting{
        font-size: 48px;
        font-weight: 500;
        line-height: 100%;
        color: #FFFFFF;
    }
    .explore{
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: #676665;
        margin-top: 30px;
    }
}
.section-2 .figure-box h4{ 
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #FFFFFF; 
}
.section-2 .figure-box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #676665;
    margin-top: 16px;
}
.section-2 .figure-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.section-2 .figure-box article{
    border: 2px dashed #ffffff33;
}
.section-2 .figure-box article .text-container{
    display: flex;
    flex-direction: column; 
    gap: 30px;
    padding-left: 30px;
    padding-right: 10px;
}
.section-2 .figure-box article .icon-container{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2 .figure-box article .icon-container .icon-image{
    margin-left: 20px;
}